<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="NodeVeiculos">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3001/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>